  //EACH// 
  $size: ("texto": 15px, "subtitulos": 25px, "titulos": 30px);
  @each $clave, $valor in $size {
      .title-#{$clave}{ 
          font-size: $valor;
      }
  }

  // PRIMERA SECCION INDEX //

.primeraSeccion {
    background-image: url("../imagenes/fondo-menuejecutivo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
     .primeraSeccion__contenedor {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 80%;
        height: 90%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-evenly;
        background-color: #F2F1F0;
        margin-top: auto;
        margin-bottom: auto;
        .primeraSeccion__p {
            text-align: center;
            letter-spacing: 2px;
            word-spacing: 5px;
            width: 450px;
            padding-top: 10px;
            background-color: #F2F1F0;
            padding: 10px;
            h3 {
                font-family: $subtitulos;
            }
            h2 {
                font-family: $titulos;
                word-spacing: 6px;
                letter-spacing: 2px;
                margin-top: 10px;
            }
        }
     }
}
      //MEDIA QUERIES//
      @media screen and (max-width: 768px){

    .primeraSeccion { 
        height: 800px;

        .primeraSeccion__contenedor{
        justify-content: center;
        height: 750px;
        grid-template-rows: repeat(2, 1fr);
        .primeraSeccion__p {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 150px;
        width: auto;
        }
        h2 {
        font-size: 24px;
        }
        h3 {
        font-size: 18px;   
        }
        p {
        font-size: 12px;
        width: 100%;  
        }
        .container-img {
        height: 70%;
        width: 70%;
        grid-row-start: 2;
        padding-left: 160px;
        align-self: center;
        margin-bottom: 150px; 
        }


        }
    }    
}
@media screen and (max-width: 480px){ 
    .primeraSeccion {
        height: 600px;
        .primeraSeccion__contenedor {
            height: 400px;
                .container-img {
                   img {
                       display: none;
                   } 
                }
          
        }
    }
}

// GALERIA INDEX // 

.galeria{
    background-color: #262526;
    height: 1000px;
    .galeria__conteiner{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 5px;
        width: 75%;
        margin: auto;
        grid-auto-flow: dense;
        padding-top: 100px;
        padding-bottom: 100px;
        height: 300px;
        
        .griditem {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &:hover {
                transform: scale(1.2,1.2);
                transition: all 2s;
            }
           
        }
        .item1{
            background-image: url("../imagenes/Galeria1.jpg");
            grid-row: span 2;
        }
        .item2{
            background-image: url("../imagenes/galeria9.jpg");
            grid-row: span 3;
           
        }
        .item3{
            background-image: url("../imagenes/galeria13.jpg");
            grid-row-start: 1;
            grid-column-start: 3;
            grid-row-end: 3;
        }
        .item4{
            background-image: url("../imagenes/galeria3.jpg");
            
        }
        .item5{
            background-image: url("../imagenes/galeria4.jpg");
            height: 150px;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .item6{
            background-image: url("../imagenes/galeria5.jpg");
        }
       
        .item7{
            background-image: url("../imagenes/galeria11.jpg");
        }
        .item8{
            background-image: url("../imagenes/galeria3.jpg")
           
        }
        .item10{
            background-image: url("../imagenes/galeria10.jpg");
            grid-row-start: 3;
            grid-column-start: 3;
            grid-row-end: 5;
        }
    }
}
//MEDIA QUERIES//
@media screen and (max-width: 768px){ 
    .galeria {
        height: 900px;
        .galeria__conteiner {
            padding-top: 50px;
            
        }
    } 
}





// SEGUNDA SECCION INDEX // 

.segundaSeccion{
    background-color: wheat;
    width: 100%;
    height: 100px;
    display: grid;
    grid-row: 1fr;
    grid-column: 1fr, 1fr; 
     .segundaSeccion__div1 {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         grid-row-start: 1;
         grid-row-end: 2;
         grid-column-start: 1;
         grid-column-end: 2;
         .segundaSeccion__imagen1 {
            border-right: solid black 1.5px;
            padding-right: 25px;   
            margin-right: 20px;
         }
         .segundaSeccion__p1 {
             margin-bottom: 10px;
         }      
     }
     .segundaSeccion__div2 {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         grid-row-start: 1;
         grid-row-end: 2;
         grid-column-start: 2;
         grid-column-end: 3;
         .segundaSeccion__imagen2 {
            border-right: solid black 1.5px;
            padding-right: 25px;
            margin-right: 20px;
         }
         .segundaSeccion__p2 {
            margin-bottom: 10px;
        }  
     }

}
//MEDIA QUERIES//
@media screen and (max-width: 768px){ 
      .segundaSeccion {
          p {
              font-size: 15px;
          }
      }
}
@media screen and (max-width: 480px) {
    .segundaSeccion {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
         .segundaSeccion__div1 {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 2;
            margin-right: 54px;
           
            .segundaSeccion__imagen1 {
                width: 70px;
                height: 40px;
            }
         }
         .segundaSeccion__div2 {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
            margin: auto;
           
            .segundaSeccion__imagen2 {
                width: 70px;
                height: 40px;
            }
         }
             
    }
}




// TERCERA SECCION INDEX //

.terceraSeccion {
    background-image: url("../imagenes/fondo-menuejecutivo.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    .terceraSeccion__container {
        background-color: $grisaseo;
        text-align: center;
        display: grid;
        display: flex;
        justify-content: space-evenly;
        grid-template-columns: repeat(2, auto);
        width: 97%;
        height: 90%;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 40px;
 
    }
    .terceraSeccion__p {
         text-align: center;
         letter-spacing: 1px;
         word-spacing: 3px;
         width: 450px;
         padding-top: 50px;
         margin-right: 20px;
         padding-left: 50px;
    }
    h3 {
        font-family: $titulos;
        border-bottom: solid 1px #262526;
        padding-bottom: 20px;
    }
    p{
        line-height: 45px;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        word-spacing: 5px;
    }
    .pp{
       border: solid 1px #262526;
       border-radius: 20px;
       width: 300px;
       margin:auto;
       padding-bottom: 10px;
       font-family: 'IM Fell Double Pica', serif;
       letter-spacing: 5px;
       background-color: $negro;
       color: $grisaseo;
       margin-top: 60px;
    }
    .container-img-terceraSeccion{
        img{
            padding: 0px 30px 60px 0px;
            
        }
    }
}


//MEDIA QUERIES//
@media screen and (max-width: 768px){ 
    .terceraSeccion { 
        height: 800px;
        .terceraSeccion__container {
            margin: auto;
            margin: 40px 20px;
            .terceraSeccion__p {
                width: 350px;
            h3 {
                font-size: 24px;
                margin-top: 0px;
            }
            p {
                font-size: 14px;
            }
            .pp {
              display: none;   
            }
         }
            .container-img-terceraSeccion {
                grid-row-start: 3;
                img {
                margin-top: 50px;
                height: 500px;
                }
                
            }  
        }    
        
    } 
} 
@media screen and (max-width: 480px) {
    .terceraSeccion {
        height: 750px;
        .terceraSeccion__container {
            position: relative;
            margin: auto auto;
            height: 650px;
            .terceraSeccion__p {
                width: 95%;
                h3 {
                    font-weight: 500;
                }
                p{
                    font-weight: 600;
                }
                    .boton-teEsperamos {
                        border-radius: 5%;
                        margin-top: 100px;
                        padding: 10px 15px;
                        width: 200px;
                        background-color: $grisaseo;
                        color: $negro;
                        border: solid 2px $negro;
                        font-size: 15px;
                        font-weight: bold;
                         &:hover {
                            color: $grisaseo;
                            background-color: $negro;
                            border-color: $negro;
                         }
                    }

                }
            
            }
            .container-img-terceraSeccion {
                position: absolute;
                opacity: 0.5;
                /*margin-bottom: 10px;*/
                img {
                    padding: 0px;
                }
            }
        }
    }



