.fondoMenu{
    background-color: $negro;
    padding-top: 100px;
    padding-bottom: 100px;
}
.menuContainer{
  
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    display: grid;
    position: relative;
    grid-template-columns: 1 fr, 1 fr;
    grid-template-areas: "menuLunes menuMartes" 
                         "menuMiercoles menuJueves";
    
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("../imagenes/fondo-menuejecutivo.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.6;
        }
       .menuContainer__divs {
           display: flex;
           justify-content: center;
           align-self: center;
           flex-direction: column;
           position: relative;
           padding-left: 100px;
           h3 {
            color: $grisaseo;
            font-family: $titulos;
            font-weight: bold;
            align-self: center;
            border-bottom: 1px solid $grisaseo;
            width: 300px;
            padding-left: 110px;
            text-transform: uppercase;
 
           }
        .menuJueves h3{
            padding-top: 35px;
        }
        figure {
            align-self: center;
            img{
                border-radius: 5px;
            }
            figcaption {
                padding-left: 100px;
                background-color: $negro;
                color: $grisaseo;
                font-family: $texto;
                text-transform: uppercase;
                width: 250px;
            }
            
        }
        p{
            align-self: center;
            color: $grisaseo;
            width: 350px;
            font-family: $subtitulos;
            font-size: 25px;
        }
         
    } 
    
}

//MEDIA QUERIES//
@media screen and (max-width: 768px){
     .fondoMenu{
         .menuContainer{
             display: grid;
             grid-template-areas: "menuLunes"
                                  "menuMartes"
                                  "menuMiercoles"
                                  "menuJueves";
             height: 1100px;
             .menuContainer__divs {
                 display: flex;
                 flex-direction: column;
                 .diaSemana {
                     margin: auto;
                     margin-bottom: 25px;
                 }
                 .img-p {
                     display: flex;
                     display: row;
                     justify-content: space-around;
                     figure {
                        img {
                            height: 150px;
                            width: 150px;
                        }
                        figcaption {
                            width: auto;
                            text-align: center;
                        }
                    }
                    p {
                       width: 150px;
                       font-size: 20px;
                       
                    }
                }
               
                 
             }
             
         }
     }
}
@media screen and (max-width: 480px) {
     .fondoMenu {
         .menuContainer {
             .menuContainer__divs {
                   margin-left: 20px;
                   padding: 0;
                   .img-p {
                       figure {
                           figcaption {
                               
                               padding: 0;
                           }
                       }
                   }
             }
         }
     }
}
@media screen and (max-width: 375px) {
    .fondoMenu {
        height: 1700px;
        padding: 20px 10px;
        .menuContainer {
            height: 1600px;
            margin: auto auto;
            width: 330px;
            .menuContainer__divs {
                width: 300px;
                .diaSemana {
                    margin-bottom: 400px;
                    width: 200px;
                   margin: 30px auto;
                   text-align: center;
                    padding: 0;
                }
               .img-p {
                   flex-direction: column;
                   p {
                       width: 300px;
                       text-align: center;
                   }
               }
            }
        }
    }
}