* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

.fondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%vw;
  height: 700px;
  background-image: url("../imagenes/fondoheader.jpg");
  background-blend-mode: normal, lighten, soft-light;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fondo .fondo__redes {
  display: none;
}

.fondo .fondo__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fondo .fondo__menu .logo {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin-left: 30px;
}

.fondo .fondo__menu .link {
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 16px;
}

.fondo .fondo__menu .link:hover {
  background-color: #434343;
}

.fondo h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  padding-top: 300px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes titulo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fondo .boton-reservar {
  border-radius: 5%;
  margin: 15px;
  padding: 10px 15px;
  width: 200px;
  background-color: #262526;
  color: #F2F1F0;
  border: solid 2px #F2F1F0;
  font-size: 15px;
  font-weight: bold;
}

.fondo .boton-reservar:hover {
  color: #262526;
  background-color: #F2F1F0;
  border-color: #F2F1F0;
}

.fondo a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  .fondo .fondo__redes {
    display: none;
  }
  .fondo .fondo__menu .logo {
    margin-left: 210px;
  }
}

@media screen and (max-width: 480px) {
  .fondo h1 {
    display: none;
  }
  .fondo a {
    margin: auto auto;
  }
  .fondo .fondo__redes {
    display: block;
  }
  .fondo .fondo__redes a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .fondo .fondo__redes a img {
    margin: 20px;
  }
  .fondo .fondo__menu .logo {
    margin-left: 90px;
  }
}

footer {
  background-color: #262526;
  margin: 0%;
  position: relative;
}

footer iframe {
  margin: 0%;
  padding: 0px 0px 30px 0px;
  width: 100%;
}

footer hr {
  color: white;
}

footer h6 {
  color: wheat;
  padding: 40px;
  display: inline block;
  font-size: 13px;
  margin-bottom: 0px;
}

footer .footer__conteiner {
  position: absolute;
  top: 240px;
  right: 10px;
  width: 500px;
}

footer .footer__conteiner img {
  display: inline-block;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  footer .footer__conteiner {
    right: 1px;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  footer h6 {
    font-size: 12px;
  }
  footer .footer__conteiner {
    display: none;
  }
}

.title-texto {
  font-size: 15px;
}

.title-subtitulos {
  font-size: 25px;
}

.title-titulos {
  font-size: 30px;
}

.primeraSeccion {
  background-image: url("../imagenes/fondo-menuejecutivo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.primeraSeccion .primeraSeccion__contenedor {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  width: 80%;
  height: 90%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #F2F1F0;
  margin-top: auto;
  margin-bottom: auto;
}

.primeraSeccion .primeraSeccion__contenedor .primeraSeccion__p {
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  width: 450px;
  padding-top: 10px;
  background-color: #F2F1F0;
  padding: 10px;
}

.primeraSeccion .primeraSeccion__contenedor .primeraSeccion__p h3 {
  font-family: "IM Fell Double Pica", serif;
}

.primeraSeccion .primeraSeccion__contenedor .primeraSeccion__p h2 {
  font-family: "Cormorant Garamond", serif;
  word-spacing: 6px;
  letter-spacing: 2px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .primeraSeccion {
    height: 800px;
  }
  .primeraSeccion .primeraSeccion__contenedor {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 750px;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .primeraSeccion .primeraSeccion__contenedor .primeraSeccion__p {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 150px;
    width: auto;
  }
  .primeraSeccion .primeraSeccion__contenedor h2 {
    font-size: 24px;
  }
  .primeraSeccion .primeraSeccion__contenedor h3 {
    font-size: 18px;
  }
  .primeraSeccion .primeraSeccion__contenedor p {
    font-size: 12px;
    width: 100%;
  }
  .primeraSeccion .primeraSeccion__contenedor .container-img {
    height: 70%;
    width: 70%;
    -ms-grid-row: 2;
        grid-row-start: 2;
    padding-left: 160px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 480px) {
  .primeraSeccion {
    height: 600px;
  }
  .primeraSeccion .primeraSeccion__contenedor {
    height: 400px;
  }
  .primeraSeccion .primeraSeccion__contenedor .container-img img {
    display: none;
  }
}

.galeria {
  background-color: #262526;
  height: 1000px;
}

.galeria .galeria__conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 5px;
  width: 75%;
  margin: auto;
  grid-auto-flow: dense;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 300px;
}

.galeria .galeria__conteiner .griditem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.galeria .galeria__conteiner .griditem:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.galeria .galeria__conteiner .item1 {
  background-image: url("../imagenes/Galeria1.jpg");
  grid-row: span 2;
}

.galeria .galeria__conteiner .item2 {
  background-image: url("../imagenes/galeria9.jpg");
  grid-row: span 3;
}

.galeria .galeria__conteiner .item3 {
  background-image: url("../imagenes/galeria13.jpg");
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-row-end: 3;
}

.galeria .galeria__conteiner .item4 {
  background-image: url("../imagenes/galeria3.jpg");
}

.galeria .galeria__conteiner .item5 {
  background-image: url("../imagenes/galeria4.jpg");
  height: 150px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.galeria .galeria__conteiner .item6 {
  background-image: url("../imagenes/galeria5.jpg");
}

.galeria .galeria__conteiner .item7 {
  background-image: url("../imagenes/galeria11.jpg");
}

.galeria .galeria__conteiner .item8 {
  background-image: url("../imagenes/galeria3.jpg");
}

.galeria .galeria__conteiner .item10 {
  background-image: url("../imagenes/galeria10.jpg");
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-row-end: 5;
}

@media screen and (max-width: 768px) {
  .galeria {
    height: 900px;
  }
  .galeria .galeria__conteiner {
    padding-top: 50px;
  }
}

.segundaSeccion {
  background-color: wheat;
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  grid-row: 1fr;
  -ms-grid-column: 1;
  grid-column: 1fr, 1fr;
}

.segundaSeccion .segundaSeccion__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.segundaSeccion .segundaSeccion__div1 .segundaSeccion__imagen1 {
  border-right: solid black 1.5px;
  padding-right: 25px;
  margin-right: 20px;
}

.segundaSeccion .segundaSeccion__div1 .segundaSeccion__p1 {
  margin-bottom: 10px;
}

.segundaSeccion .segundaSeccion__div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.segundaSeccion .segundaSeccion__div2 .segundaSeccion__imagen2 {
  border-right: solid black 1.5px;
  padding-right: 25px;
  margin-right: 20px;
}

.segundaSeccion .segundaSeccion__div2 .segundaSeccion__p2 {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .segundaSeccion p {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .segundaSeccion {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .segundaSeccion .segundaSeccion__div1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 54px;
  }
  .segundaSeccion .segundaSeccion__div1 .segundaSeccion__imagen1 {
    width: 70px;
    height: 40px;
  }
  .segundaSeccion .segundaSeccion__div2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
  }
  .segundaSeccion .segundaSeccion__div2 .segundaSeccion__imagen2 {
    width: 70px;
    height: 40px;
  }
}

.terceraSeccion {
  background-image: url("../imagenes/fondo-menuejecutivo.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.terceraSeccion .terceraSeccion__container {
  background-color: #F2F1F0;
  text-align: center;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  width: 97%;
  height: 90%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.terceraSeccion .terceraSeccion__p {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 3px;
  width: 450px;
  padding-top: 50px;
  margin-right: 20px;
  padding-left: 50px;
}

.terceraSeccion h3 {
  font-family: "Cormorant Garamond", serif;
  border-bottom: solid 1px #262526;
  padding-bottom: 20px;
}

.terceraSeccion p {
  line-height: 45px;
  padding-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.terceraSeccion .pp {
  border: solid 1px #262526;
  border-radius: 20px;
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  font-family: 'IM Fell Double Pica', serif;
  letter-spacing: 5px;
  background-color: #262526;
  color: #F2F1F0;
  margin-top: 60px;
}

.terceraSeccion .container-img-terceraSeccion img {
  padding: 0px 30px 60px 0px;
}

@media screen and (max-width: 768px) {
  .terceraSeccion {
    height: 800px;
  }
  .terceraSeccion .terceraSeccion__container {
    margin: auto;
    margin: 40px 20px;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p {
    width: 350px;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p h3 {
    font-size: 24px;
    margin-top: 0px;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p p {
    font-size: 14px;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p .pp {
    display: none;
  }
  .terceraSeccion .terceraSeccion__container .container-img-terceraSeccion {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .terceraSeccion .terceraSeccion__container .container-img-terceraSeccion img {
    margin-top: 50px;
    height: 500px;
  }
}

@media screen and (max-width: 480px) {
  .terceraSeccion {
    height: 750px;
  }
  .terceraSeccion .terceraSeccion__container {
    position: relative;
    margin: auto auto;
    height: 650px;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p {
    width: 95%;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p h3 {
    font-weight: 500;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p p {
    font-weight: 600;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p .boton-teEsperamos {
    border-radius: 5%;
    margin-top: 100px;
    padding: 10px 15px;
    width: 200px;
    background-color: #F2F1F0;
    color: #262526;
    border: solid 2px #262526;
    font-size: 15px;
    font-weight: bold;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p .boton-teEsperamos:hover {
    color: #F2F1F0;
    background-color: #262526;
    border-color: #262526;
  }
  .terceraSeccion .container-img-terceraSeccion {
    position: absolute;
    opacity: 0.5;
    /*margin-bottom: 10px;*/
  }
  .terceraSeccion .container-img-terceraSeccion img {
    padding: 0px;
  }
}

.fondoMenu {
  background-color: #262526;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menuContainer {
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1 fr, 1 fr;
      grid-template-columns: 1 fr, 1 fr;
      grid-template-areas: "menuLunes menuMartes"  "menuMiercoles menuJueves";
}

.menuContainer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../imagenes/fondo-menuejecutivo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.menuContainer .menuContainer__divs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-left: 100px;
}

.menuContainer .menuContainer__divs h3 {
  color: #F2F1F0;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 1px solid #F2F1F0;
  width: 300px;
  padding-left: 110px;
  text-transform: uppercase;
}

.menuContainer .menuContainer__divs .menuJueves h3 {
  padding-top: 35px;
}

.menuContainer .menuContainer__divs figure {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menuContainer .menuContainer__divs figure img {
  border-radius: 5px;
}

.menuContainer .menuContainer__divs figure figcaption {
  padding-left: 100px;
  background-color: #262526;
  color: #F2F1F0;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  width: 250px;
}

.menuContainer .menuContainer__divs p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #F2F1F0;
  width: 350px;
  font-family: "IM Fell Double Pica", serif;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .fondoMenu .menuContainer {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "menuLunes" "menuMartes" "menuMiercoles" "menuJueves";
    height: 1100px;
  }
  .fondoMenu .menuContainer .menuContainer__divs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fondoMenu .menuContainer .menuContainer__divs .diaSemana {
    margin: auto;
    margin-bottom: 25px;
  }
  .fondoMenu .menuContainer .menuContainer__divs .img-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fondoMenu .menuContainer .menuContainer__divs .img-p figure img {
    height: 150px;
    width: 150px;
  }
  .fondoMenu .menuContainer .menuContainer__divs .img-p figure figcaption {
    width: auto;
    text-align: center;
  }
  .fondoMenu .menuContainer .menuContainer__divs .img-p p {
    width: 150px;
    font-size: 20px;
  }
}

.titulo-sucursales h5 {
  background-color: rgba(134, 125, 125, 0.8);
  width: 300px;
  font-family: "Cormorant Garamond", serif;
  margin-left: 320px;
}

.titulo-sucursales .titulo-puertomadero {
  width: 550px;
  margin-left: 200px;
}

.titulo-sucursales p {
  background-color: rgba(134, 125, 125, 0.8);
  width: 150px;
  margin-left: 400px;
  font-family: "Raleway", sans-serif;
}

.contenedorReservas {
  background-color: #262526;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorReservas .div-contenedorReservas {
  border-radius: 2%;
  background-color: #F2F1F0 !important;
  width: 70vw;
  padding-top: 20px;
}

.contenedorReservas .div-contenedorReservas .titulo-reservas {
  margin-left: 400px;
}

.contenedorReservas .div-contenedorReservas .botones-reserva {
  margin: 30px;
}

.contenedorReservas .div-contenedorReservas .botones-reserva .botones-reserva1 {
  background-color: #302314;
}

.contenedorReservas .div-contenedorReservas .botones-reserva .botones-reserva2 {
  background-color: #A67458;
}

main .contenedorContacto1 {
  background-color: #262526;
  width: 100vw;
  height: 800px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "bife-contacto texto-contacto vino-contacto" "cupcake-contacto canapes-contacto vino-contacto";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

main .contenedorContacto1 .bife-contacto {
  background-image: url("../imagenes/contacto-bife.jpg");
  background-position: bottom;
  background-size: cover;
}

main .contenedorContacto1 .vino-contacto {
  background-image: url("../imagenes/contacto-vino-m.jpg");
  background-position: center;
  background-size: cover;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 3;
}

main .contenedorContacto1 .cupcake-contacto {
  background-image: url("../imagenes/contacto-cupcakes.jpg");
  background-position: center;
  background-size: cover;
}

main .contenedorContacto1 .canapes-contacto {
  background-image: url("../imagenes/contacto-canapes.jpg");
  background-position: center;
  background-size: cover;
}

main .contenedorContacto1 .texto-contacto {
  background-color: #262526;
  color: #F2F1F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contenedorContacto1 .texto-contacto .p1-contacto {
  margin: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  word-spacing: 7px;
}

main .contenedorContacto1 .texto-contacto .p2-contacto {
  margin: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
}

main .contenedorContacto1 .texto-contacto a button {
  margin: 15px;
  padding: 10px 15px;
  width: 200px;
  background-color: #262526;
  color: #F2F1F0;
  border: solid 4px #F2F1F0;
  font-size: 20px;
  font-weight: bold;
}

main .contenedorContacto1 .texto-contacto a button:hover {
  color: #262526;
  background-color: #F2F1F0;
  border-color: #F2F1F0;
}

main .contenedorContacto2 {
  background-color: #734D3F;
  width: auto;
  height: 400px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imagen1-contacto texto1-contacto";
}

main .contenedorContacto2 .imagen1-contacto {
  background-image: url("../imagenes/contacto-restaurante1.jpg");
  background-position: center;
  background-size: cover;
  width: 400px;
}

main .contenedorContacto2 .texto1-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .contenedorContacto2 .texto1-contacto h3 {
  margin-left: 30px;
  padding: 20px 50px 10px 0px;
  color: #262526;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #262526;
  font-size: 25px;
}

main .contenedorContacto2 .texto1-contacto p {
  margin: 20px 200px 50px 30px;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
}

main .contenedorContacto3 {
  background-color: #A67458;
  width: auto;
  height: 400px;
  display: -ms-grid;
  display: grid;
}

main .contenedorContacto3 .imagen2-contacto {
  background-image: url("../imagenes/contacto-restaurante3.jpg");
  background-position: center;
  background-size: cover;
  width: 400px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-row-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

main .contenedorContacto3 .texto2-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .contenedorContacto3 .texto2-contacto h3 {
  margin-left: 50px;
  padding: 20px 70px 10px 0px;
  margin-bottom: 20px;
  color: #262526;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #262526;
  font-size: 25px;
}

main .contenedorContacto3 .texto2-contacto p {
  margin: 20px 30px 50px 200px;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
}

main .contenedorFormulario {
  background-color: #302314;
  height: 650px;
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr, 1fr;
      grid-template-columns: 1fr, 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-area: "contenedorFormulario contenedorFormulario-texto";
}

main .contenedorFormulario .formulario {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 60px 0px black;
          box-shadow: 0px 0px 60px 0px black;
  width: 500px;
  padding: 30px;
  margin-bottom: 30px;
  height: 550px;
  font-family: "Raleway", sans-serif;
}

main .contenedorFormulario .formulario legend h4 {
  margin-left: 60px;
  font-weight: bold;
}

main .contenedorFormulario .formulario label {
  padding: 1px 10px;
}

main .contenedorFormulario .formulario .boton-formulario {
  padding: 5px;
  margin: 8px;
}

main .contenedorFormulario .contenedorFormulario-texto {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

main .contenedorFormulario .contenedorFormulario-texto h3 {
  margin-top: 200px !important;
}

main .contenedorFormulario .contenedorFormulario-texto h3, main .contenedorFormulario .contenedorFormulario-texto h4 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  margin: 30px;
  font-size: 40px;
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */