* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

.fondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%vw;
  height: 700px;
  background-image: url("../imagenes/fondoheader.jpg");
  background-blend-mode: normal, lighten, soft-light;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fondo .fondo__menu {
  padding-left: 250px;
  width: 100%;
}

.fondo .fondo__menu .link {
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 16px;
}

.fondo .fondo__menu .link:hover {
  background-color: #434343;
}

.fondo h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  padding: 30px;
  margin-top: 270px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes titulo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background-color: #262526;
  margin: 0%;
  position: relative;
}

footer iframe {
  margin: 0%;
  padding: 0px 0px 30px 0px;
  width: 100%;
}

footer hr {
  color: white;
}

footer h6 {
  color: wheat;
  padding: 40px;
  display: inline block;
  font-size: 13px;
  margin-bottom: 0px;
}

footer .footer__conteiner {
  position: absolute;
  top: 240px;
  right: 10px;
  width: 500px;
}

footer .footer__conteiner img {
  display: inline-block;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  footer .footer__conteiner {
    right: 1px;
    width: auto;
  }
}

.title-texto {
  font-size: 15px;
}

.title-subtitulos {
  font-size: 25px;
}

.title-titulos {
  font-size: 30px;
}

.primeraSeccion {
  background-image: url("../imagenes/fondo-menuejecutivo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.primeraSeccion .primeraSeccion__contenedor {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  width: 80%;
  height: 90%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #F2F1F0;
  margin-top: auto;
  margin-bottom: auto;
}

.primeraSeccion .primeraSeccion__contenedor .primeraSeccion__p {
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  width: 450px;
  padding-top: 10px;
  background-color: #F2F1F0;
  padding: 10px;
}

.primeraSeccion .primeraSeccion__contenedor .primeraSeccion__p h3 {
  font-family: "IM Fell Double Pica", serif;
}

.primeraSeccion .primeraSeccion__contenedor .primeraSeccion__p h2 {
  font-family: "Cormorant Garamond", serif;
  word-spacing: 6px;
  letter-spacing: 2px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .primeraSeccion {
    height: 800px;
  }
  .primeraSeccion .primeraSeccion__contenedor {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 750px;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .primeraSeccion .primeraSeccion__contenedor .primeraSeccion__p {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 150px;
    width: auto;
  }
  .primeraSeccion .primeraSeccion__contenedor h2 {
    font-size: 24px;
  }
  .primeraSeccion .primeraSeccion__contenedor h3 {
    font-size: 18px;
  }
  .primeraSeccion .primeraSeccion__contenedor p {
    font-size: 12px;
    width: 100%;
  }
  .primeraSeccion .primeraSeccion__contenedor .container-img {
    height: 70%;
    width: 70%;
    -ms-grid-row: 2;
        grid-row-start: 2;
    padding-left: 160px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 150px;
  }
}

.galeria {
  background-color: #262526;
  height: 1000px;
}

.galeria .galeria__conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 5px;
  width: 75%;
  margin: auto;
  grid-auto-flow: dense;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 300px;
}

.galeria .galeria__conteiner .griditem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.galeria .galeria__conteiner .griditem:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.galeria .galeria__conteiner .item1 {
  background-image: url("../imagenes/Galeria1.jpg");
  grid-row: span 2;
}

.galeria .galeria__conteiner .item2 {
  background-image: url("../imagenes/galeria9.jpg");
  grid-row: span 3;
}

.galeria .galeria__conteiner .item3 {
  background-image: url("../imagenes/galeria13.jpg");
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-row-end: 3;
}

.galeria .galeria__conteiner .item4 {
  background-image: url("../imagenes/galeria3.jpg");
}

.galeria .galeria__conteiner .item5 {
  background-image: url("../imagenes/galeria4.jpg");
  height: 150px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.galeria .galeria__conteiner .item6 {
  background-image: url("../imagenes/galeria5.jpg");
}

.galeria .galeria__conteiner .item7 {
  background-image: url("../imagenes/galeria11.jpg");
}

.galeria .galeria__conteiner .item8 {
  background-image: url("../imagenes/galeria3.jpg");
}

.galeria .galeria__conteiner .item10 {
  background-image: url("../imagenes/galeria10.jpg");
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-row-end: 5;
}

@media screen and (max-width: 768px) {
  .galeria {
    height: 900px;
  }
  .galeria .galeria__conteiner {
    padding-top: 50px;
  }
}

.segundaSeccion {
  background-color: wheat;
  width: 100%;
  height: 100px;
  position: relative;
}

.segundaSeccion .segundaSeccion__imagen1 {
  position: absolute;
  left: 25%;
  top: 20px;
  border-right: solid black 1.5px;
  padding-right: 25px;
}

.segundaSeccion .segundaSeccion__imagen2 {
  position: absolute;
  right: 35%;
  top: 20px;
  border-right: solid black 1.5px;
  padding-right: 25px;
}

.segundaSeccion .segundaSeccion__p1 {
  position: absolute;
  left: 33%;
  top: 40px;
  font-size: 15px;
}

.segundaSeccion .segundaSeccion__p2 {
  position: absolute;
  right: 14%;
  top: 40px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .segundaSeccion p {
    font-size: 12px;
  }
  .segundaSeccion .segundaSeccion__p1 {
    left: 17%;
  }
  .segundaSeccion .segundaSeccion__p2 {
    right: 5%;
  }
  .segundaSeccion .segundaSeccion__imagen1 .segundaSeccion__imagen2 {
    width: 60px;
    height: 30px;
  }
  .segundaSeccion .segundaSeccion__imagen1 {
    left: 5%;
  }
  .segundaSeccion .segundaSeccion__imagen2 {
    right: 41%;
  }
}

.terceraSeccion {
  background-color: #734D3F;
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.terceraSeccion .terceraSeccion__container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  width: 70%;
  height: 90%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-content: space-evenly;
}

.terceraSeccion .terceraSeccion__p {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 3px;
  width: 450px;
  padding-top: 10px;
  margin-right: 30px;
}

.terceraSeccion h3 {
  font-family: "Cormorant Garamond", serif;
  border-bottom: solid 1px #262526;
  padding-bottom: 20px;
}

.terceraSeccion p {
  line-height: 45px;
  padding-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.terceraSeccion .pp {
  border: solid 1px #262526;
  border-radius: 20px;
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  font-family: 'IM Fell Double Pica', serif;
  letter-spacing: 5px;
}

.container-img-terceraSeccion img {
  border-radius: 3%;
}

@media screen and (max-width: 768px) {
  .terceraSeccion .terceraSeccion__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1 fr, 1 fr;
        grid-template-rows: 1 fr, 1 fr;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p {
    width: 100%;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p h3 {
    font-size: 24px;
  }
  .terceraSeccion .terceraSeccion__container .terceraSeccion__p p {
    font-size: 14px;
  }
  .terceraSeccion .terceraSeccion__container .container-img-terceraSeccion {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .terceraSeccion .terceraSeccion__container .container-img-terceraSeccion img {
    width: 70%;
    margin-top: 50px;
    height: 500px;
  }
}

.fondoMenu {
  background-color: #262526;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menuContainer {
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1 fr, 1 fr;
      grid-template-columns: 1 fr, 1 fr;
      grid-template-areas: "menuLunes menuMartes"  "menuMiercoles menuJueves";
}

.menuContainer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../imagenes/fondo-menuejecutivo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.menuContainer .menuContainer__divs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-left: 100px;
}

.menuContainer .menuContainer__divs h3 {
  color: #F2F1F0;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 1px solid #F2F1F0;
  width: 300px;
  padding-left: 110px;
  text-transform: uppercase;
}

.menuContainer .menuContainer__divs .menuJueves h3 {
  padding-top: 35px;
}

.menuContainer .menuContainer__divs figure {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menuContainer .menuContainer__divs figure img {
  border-radius: 5px;
}

.menuContainer .menuContainer__divs figure figcaption {
  padding-left: 100px;
  background-color: #262526;
  color: #F2F1F0;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  width: 250px;
}

.menuContainer .menuContainer__divs p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #F2F1F0;
  width: 350px;
  font-family: "IM Fell Double Pica", serif;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .fondoMenu .menuContainer {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "menuLunes" "menuMartes" "menuMiercoles" "menuJueves";
    height: 1100px;
  }
  .fondoMenu .menuContainer .menuContainer__divs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fondoMenu .menuContainer .menuContainer__divs .diaSemana {
    margin: auto;
    margin-bottom: 25px;
  }
  .fondoMenu .menuContainer .menuContainer__divs .img-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fondoMenu .menuContainer .menuContainer__divs .img-p figure img {
    height: 150px;
    width: 150px;
  }
  .fondoMenu .menuContainer .menuContainer__divs .img-p figure figcaption {
    width: auto;
    text-align: center;
  }
  .fondoMenu .menuContainer .menuContainer__divs .img-p p {
    width: 150px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */